.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: #3e3e3e;
}

.container > img {
  max-width: 200px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
